<div class="input-group button">
    <i class="fa fa-qrcode"></i>
    <input type="text" id="location_id" placeholder="Parking space code">
    <button class="cam" id="accessCam">Camera</button>
    <canvas id="cam" class="hidden"></canvas>
</div>
<div class="input-group" style="margin-top: 150px;">
    <i class="fa fa-clock-o"></i>
    <select name="">
        <option value="hes">Duration</option>
    </select>
</div>
<div class="input-group st30">
    <i class="fa fa-automobile"></i>
    <select name="">
        <option value="hes">Car</option>
    </select>
</div>
<div class="input-group st30">
    <i class="fa fa-credit-card"></i>
    <select name="">
        <option value="hes">Payment option</option>
    </select>
</div>