<div id="transparent-black"></div>
<div class="logo"><img src="interface/graphics/parkr_logo.svg" alt="logo" id="logo"></div>

<!--Login & Register page-->
<div id="login-regi-page">
<div id="login"><a href="##">Log in</a></div>
<div id="register"><a href="##">Register</a></div>
</div>


<!--Login page-->
<div id="login-page">
<div class="input-group st30">
    <i class="fa fa-user"></i>
    <input name="" placeholder="Username"/> 
</div>
<div class="input-group st30">
    <i class="fa fa-unlock-alt"></i>
    <input name="" placeholder="Password"/>
</div>

<div class="login-regi-button"><a href="##">Log in</a></div>>
<div class="back"><a href="##"><i class="fa fa-long-arrow-left"></i> Back</a></div>
</div>

<!--Register page-->
<div id="register-page">
<div class="input-group st30">
    <i class="fa fa-user"></i>
    <input name="" placeholder="Username"/>
</div>
<div class="input-group st30">
    <i class="fa fa-unlock-alt"></i>
    <input name="" placeholder="Password"/>
</div>
<div class="input-group st30">
    <i class="fa fa-unlock-alt"></i>
    <input name="" placeholder="Repeat password"/>
</div>  
        
<div class="login-regi-button"><a href="##">Register</a></div>>
<div class="back"><a href="##"><i class="fa fa-long-arrow-left"></i> Back</a></div>
</div>  

<!--License & Credit page-->
<div id="license-credit-page">
    <div id="info-text">
    <p>Please add your car's license<br>
    plate number and your credit card<br>
    number to continue.</p>
    </div>
<div class="input-group st30">
    <i class="fa fa-car"></i>
    <input name="" placeholder="License plate"/>
</div>
<div class="input-group st30">
    <i class="fa fa-credit-card"></i>
    <input name="" placeholder="Credit card number"/>
</div>
        
<div class="login-regi-button"><a href="##">Continue</a></div>>
<div class="back"><a href="##"><i class="fa fa-long-arrow-left"></i> Back</a></div>
</div>

