<style>
    #view {
        margin: 0 !important;
    }
    body {
        overflow: hidden !important;
    }
    #google_map {
        height: calc(100vh - 53px); /* 53 = menu bar */
        width: 100vw;
    }
</style>
<div id="google_map"></div>
