<div class="settings-group st30">
    <div class="settings-header">
        <i class="fa fa-car"></i>
        <p class="settings-header-text">Your cars</p>
        <button class="settings-header-right" id="addCar"></button>
    </div>
    {% for car in cars %}
    <div class="settings-deletable">
        <p>{{ car.title }}</p>
        <button class="settings-button-edit"></button>
        <button class="settings-button-delete"></button>
    </div>
    {% else %}
    <div class="settings-deletable">
        <p>No cars added yet</p>
    </div>
    {% endfor %}
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-credit-card"></i>
        <p class="settings-header-text">Your credit cards</p>
        <button class="settings-header-right" id="addCard"></button>
    </div>
    {% for card in cards %}
        <div class="settings-deletable">
            <p>**** **** **** {{ card.cardnumber | slice(15, 4) }}</p>
            <button class="settings-button-edit" id="editCard"></button>
            <button class="settings-button-delete" id="deleteCard"></button>
        </div>
    {% else %}
        <div class="settings-deletable">
            <p>No credit cards added yet</p>
        </div>
    {% endfor %}
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-bell"></i>
        <p class="settings-header-text">Notifications</p>
    </div>
    <div class="settings-deletable">
        <select name="">
            <option value="hes">20 mins before ticket expires</option>
        </select>
    </div>
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-lock"></i>
        <p class="settings-header-text">Password</p>
    </div>
    <div class="settings-deletable">
        <p>********</p>
        <button class="settings-button-password" id="editPassword"></button>
    </div>
</div>

<div class="st60">
    <button class="st30 primary" id="btn_logout">Log out</button>
</div>