<div class="settings-group st30">
    <div class="settings-header">
        <i class="fa fa-car"></i>
        <p class="settings-header-text">Your cars</p>
        <button class="settings-header-right" id="addCar"></button>
    </div>
    <div class="settings-deletable">
        <p>AB 12 345</p>
        <button class="settings-button-edit" id="editCar"></button>
        <button class="settings-button-delete" id="deleteCar"></button>
    </div>
    <div class="settings-deletable">
        <p>AB 12 345</p>
        <button class="settings-button-edit" id="editCar"></button>
        <button class="settings-button-delete" id="deleteCar"></button>
    </div>
    <div class="settings-deletable">
        <p>AB 12 345</p>
        <button class="settings-button-edit" id="editCar"></button>
        <button class="settings-button-delete" id="deleteCar"></button>
    </div>
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-credit-card"></i>
        <p class="settings-header-text">Your credit cards</p>
        <button class="settings-header-right" id="addCard"></button>
    </div>
    <div class="settings-deletable">
        <p>**** **** **** **XX</p>
        <button class="settings-button-edit" id="editCard"></button>
        <button class="settings-button-delete" id="deleteCard"></button>
    </div>
    <div class="settings-deletable">
        <p>**** **** **** **XX</p>
        <button class="settings-button-edit" id="editCard"></button>
        <button class="settings-button-delete" id="deleteCard"></button>
    </div>
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-bell"></i>
        <p class="settings-header-text">Notifications</p>
    </div>
    <div class="settings-deletable">
        <select name="">
            <option value="hes">20 mins before ticket expires</option>
        </select>
    </div>
</div>

<div class="settings-group st60">
    <div class="settings-header">
        <i class="fa fa-lock"></i>
        <p class="settings-header-text">Password</p>
    </div>
    <div class="settings-deletable">
        <p>********</p>
        <button class="settings-button-password" id="editPassword"></button>
    </div>
</div>

<div class="settings-group st60">
    (logout button here)
</div>