{% for log in active %}
<div class="stat-group st30">
    <div class="stat-left">
        <p class="stat-header">AB 12 345 @ XXX-XXXX</p>
        <p class="stat-date">From: {{ log.created_at }}<br>To: 12:00 12/12/2016</p>
        <p class="stat-card">Credit card used: **XX</p>
    </div>
    <div class="stat-right">
        <p><span>20</span><br>DKK</p>
    </div>
</div>
{% endfor %}
{% for log in inactive %}
<div class="stat-group st30">
    <div class="stat-left">
        <p class="stat-header">AB 12 345 @ XXX-XXXX</p>
        <p class="stat-date">From: 10:00 12/12/2016<br>To: 12:00 12/12/2016</p>
        <p class="stat-card">Credit card used: **XX</p>
    </div>
    <div class="stat-right">
        <p><span>20</span><br>DKK</p>
    </div>
</div>
{% endfor %}