@import "fontawesom/font-awesome.less";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../graphics/bg_blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    //30px margin top

    * {
      outline: none;
    }
    /* VIEWS */
    //global rules
    #view {
      margin-top: 20px;
      margin-bottom: 20px;
      .input-group {
        position: relative;
        background-color: #fff;
        width: 80%;
        height: 40px; //120px;
        margin-left: 10%;
        margin-right: 10%;
        input,select {
          height: 100%;
          width: 84%;
          border: 0;
          position: absolute;
          padding: 0;
          top: 0;
          left: 0;
          background-color: transparent;
          margin-left: 15%;
          font-size: 16px;
          //-webkit-appearance: none;
        }
        input {
          padding-left: 7px;
        }
        i.fa {
          position: absolute;
          top: 25%;
          left: 5%;
          font-size: 20px; //80px;
        }
        &.button {
          input,select {
            width: 68%;
          }
          button {
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
            margin: 0;
            padding: 0;
            width: 15%;
            height: 100%;
            background-color: #0099DE;
            font-size: 0;
            &.cam:before{
              content: "\f030";
              font-family: FontAwesome, sans-serif;
              font-size: 21px; //13px; //40px;
              color: #fff;

            }
          }
        }
      }
      #cam {
        position: absolute;
        top: 40px; //120px;
        left: 0;
        width: 100%;
      }
    }
    //home


    /* MENUBAR */
    nav {
      height: 53px; //160px;
      width: 100%;
      background-color: #000;
      position: fixed;
      bottom: 0;
      ul {
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          float: left;
          width: 25%;
          height: 100%;
          &.active {
            background-color: #0099DE;
          }
          a {
            font-size: 0;
            text-decoration: none;
            &:before {
              color: #fff;
              font-family: FontAwesome, serif;
              font-size: 26pt; //80pt;
              text-align: center;
              line-height: 53px;//160px;
              display: block;
              height: 100%;
            }

          }
          &.car a:before{
            content: "\f1b9";
          }
          &.map a:before{
            content: "\f041";
          }
          &.stats a:before{
            content: "\f201";
          }
          &.settings a:before{
            content: "\f085";
          }
          &.qr a:before{
            content: "\f029";
          }

        }
      }
    }
  }
}
.hidden {
  visibility: hidden;
}
.st10{
  margin-top: 10px;
}
.st30 {
  margin-top: 30px;
}



html body #view .stat-group {
    position: relative;
    background-color: #fff;
    width: 80%;
    height: 110px;
    margin-left: 10%;
  margin-right: 10%;
  font-family: FontAwesome, sans-serif;
    color: #fff;
}

html body #view .stat-group .stat-left p.stat-header {
  font-weight: bold;
  line-height: 46px;
  margin-left: 13px;
    font-size: 20px;
    color: #3498DB;
}

html body #view .stat-group .stat-left p.stat-date {
  margin-top: -26px;
  margin-left: 14px;
    font-size: 16px;
    color: #1F2226;
}

html body #view .stat-group .stat-left p.stat-card {
  margin-top: -10px;
  margin-left: 14px;
    font-size: 14px;
    color: #95A5A6;
}

html body #view .stat-group .stat-right {
    position: absolute;
    background-color: #3498DB;
    width: 80px;
    height: 110px;
    right: 0px;
    top: 0px;
}

html body #view .stat-group .stat-right p {
  margin-top: 25px;
  line-height: 30px;
    text-align: center;
    font-size: 26px;
}

html body #view .stat-group .stat-right span {
  margin-top: 20px;
  line-height: 30px;
    text-align: center;
    font-size: 36px;
}
